<footer class="footer">
  <div class="main container">
    <div class="f-about"> {pboot:sitecopyright}  {pboot:sitestatistical} <a href="https://beian.miit.gov.cn" rel="nofollow" target="_blank">{pboot:siteicp}</a> <a href="{pboot:sitedomain}/sitemap.xml">XML地图</a> <a href="https://www.pb2345.com/" target="_blank">PBOOTCMS网站模板</a> </div>
  </div>
  <div id="toolbar" class="toolbar ">
    <div id="totop" class="btn hidden br transition"><i class="iconfont icon-totop"></i></div>
  </div>
</footer>
