<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 引入AntvX6 图形渲染引擎 -->
    <script src="https://unpkg.com/@antv/x6@1.31.0/dist/x6.js"></script>
    <!-- 引入 Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- 引入 layui -->
    <link
      href="https://unpkg.com/layui@2.7.6/dist/css/layui.css"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.7.6/layui.js"
      integrity="sha512-mIKH3M2bRlIyhG4tBEbJ8dn8t8JFlNJU2NXlJePgpQ72CK4jAYsZyCGFcASRGtPBbcAQhz67KTkA1Jw6Kizk9g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- 引入 Element -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      .el-tabs__content {
        height: 100% !important;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div id="app" style="display: flex">
      <div
        class="selectNode"
        style="
          width: 200px;
          height: calc(100vh - calc(5rem + 1px));
          position: relative;
        "
      ></div>
      <div style="width: calc(100vw - 200px)">
        <div class="layui-btn-group">
          <button type="button" class="layui-btn" @click="clearDraw">
            清空画布
          </button>
          <button type="button" class="layui-btn" @click="doThing('canUndo')">
            撤销
          </button>
          <button type="button" class="layui-btn" @click="doThing('canRedo')">
            重做
          </button>
          <button type="button" class="layui-btn" @click="deleteSelect">
            删除
          </button>
          <button type="button" class="layui-btn" @click="printNodeList('PNG')">
            导出PNG
          </button>
          <button type="button" class="layui-btn" @click="printNodeList('SVG')">
            导出SVG
          </button>
          <button type="button" class="layui-btn">检查 - 未做</button>
          <button type="button" class="layui-btn" @click="saveLocal">
            保存
          </button>
        </div>
        <div
          class="wapper"
          style="height: calc(100vh - calc(5rem + 1px + 40px)); overflow: auto"
        >
          <div id="container"></div>
        </div>
        <el-drawer
          size="40%"
          title="我是标题"
          :with-header="false"
          :visible.sync="drawer"
        >
          <div style="padding: 10px">
            <el-tabs v-model="activeName">
              <el-tab-pane label="节点属性" name="1">
                <el-card class="box-card">
                  <div slot="header" class="clearfix">
                    <span>基本属性</span>
                  </div>
                  <el-row
                    type="flex"
                    style="margin-bottom: 10px"
                    :align="'middle'"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">节点名称：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input
                        style="width: 100%"
                        :value="chooseNode.store.data.attrs.label.text"
                        @input="updateNode($event,'name')"
                      ></el-input>
                    </el-col>
                  </el-row>
                  <el-row
                    type="flex"
                    style="margin-bottom: 10px"
                    :align="'middle'"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">节点id：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input
                        style="width: 100%"
                        :value="chooseNode.id"
                        disabled
                      ></el-input>
                    </el-col>
                  </el-row>
                  <el-row type="flex" :align="'middle'">
                    <el-col :span="5">
                      <div style="text-align: right">节点类型：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input
                        style="width: 100%"
                        :value="chooseNode.typeName"
                        disabled
                      ></el-input>
                    </el-col>
                  </el-row>
                </el-card>
                <el-card class="box-card" style="margin-top: 20px">
                  <div slot="header" class="clearfix">
                    <span>样式设置</span>
                  </div>
                  <el-row
                    type="flex"
                    style="margin-bottom: 10px"
                    :align="'middle'"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">宽度：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input-number
                        style="width: 100%"
                        :min="0"
                        @change="updateNode($event,'width')"
                        :value="chooseNode.width"
                        type="number"
                      ></el-input-number>
                    </el-col>
                  </el-row>
                  <el-row
                    type="flex"
                    style="margin-bottom: 10px"
                    :align="'middle'"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">高度：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input-number
                        style="width: 100%"
                        :min="0"
                        @change="updateNode($event,'height')"
                        :value="chooseNode.height"
                        type="number"
                      ></el-input-number>
                    </el-col>
                  </el-row>
                  <el-row
                    type="flex"
                    :align="'middle'"
                    style="margin-bottom: 10px"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">主体颜色：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input
                        style="width: 100%"
                        :value="chooseNode.store.data.attrs.body.fill"
                        @input="updateNode($event,'fill')"
                      >
                        <el-color-picker
                          slot="suffix"
                          :value="chooseNode.store.data.attrs.body.fill"
                          @change="updateNode($event,'fill')"
                        ></el-color-picker>
                      </el-input>
                    </el-col>
                  </el-row>
                  <el-row
                    type="flex"
                    :align="'middle'"
                    style="margin-bottom: 10px"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">边框颜色：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input
                        style="width: 100%"
                        :value="chooseNode.store.data.attrs.body.stroke"
                        @input="updateNode($event,'stroke')"
                      >
                        <el-color-picker
                          slot="suffix"
                          :value="chooseNode.store.data.attrs.body.stroke"
                          @change="updateNode($event,'stroke')"
                        ></el-color-picker>
                      </el-input>
                    </el-col>
                  </el-row>
                  <el-row
                    type="flex"
                    :align="'middle'"
                    style="margin-bottom: 10px"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">文字颜色：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input
                        style="width: 100%"
                        @input="updateNode($event,'textFill')"
                        :value="chooseNode.store.data.attrs.label.fill"
                      >
                        <el-color-picker
                          slot="suffix"
                          :value="chooseNode.store.data.attrs.label.fill"
                          @change="updateNode($event,'textFill')"
                        ></el-color-picker>
                      </el-input>
                    </el-col>
                  </el-row>
                  <el-row
                    type="flex"
                    :align="'middle'"
                    style="margin-bottom: 10px"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">边框宽度：</div>
                    </el-col>
                    <el-col :span="19">
                      <el-input-number
                        style="width: 100%"
                        :min="0"
                        :max="10"
                        @change="updateNode($event,'strokeWidth')"
                        :value="chooseNode.store.data.attrs.body.strokeWidth"
                        type="number"
                      ></el-input-number>
                    </el-col>
                  </el-row>
                </el-card>
              </el-tab-pane>
              <el-tab-pane
                label="节点设置"
                v-if="chooseNode.shape === 'polygon'"
                name="2"
              >
                <div
                  v-if="chooseNode._model.outgoings[chooseNode.id].length >= 2"
                >
                  <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>条件转出</span>
                    </div>
                    <el-alert
                      title="提示：该条件必须包含至少2个输出步骤，请先建立输出步骤的链接再进行设置"
                      :closable="false"
                      type="success"
                    >
                    </el-alert>
                    <div style="margin-top: 20px"></div>
                    <el-row
                      type="flex"
                      style="margin-bottom: 10px"
                      :align="'middle'"
                    >
                      <el-col :span="5">
                        <div style="text-align: center">单据字段</div>
                      </el-col>
                      <el-col :span="5">
                        <div style="text-align: center">运算符</div>
                      </el-col>
                      <el-col :span="5">
                        <div style="text-align: center">值</div>
                      </el-col>
                      <el-col :span="5">
                        <div style="text-align: center">步骤</div>
                      </el-col>
                      <el-col :span="4"></el-col>
                    </el-row>
                    <el-row
                      v-for="item in chooseNode.tiaojianList"
                      type="flex"
                      :gutter="10"
                      style="margin-bottom: 10px"
                      :align="'middle'"
                    >
                      <el-col :span="5">
                        <el-select v-model="item.djzd" @change="$forceUpdate()">
                          <el-option
                            v-for="itemSon in djzdOptions"
                            :key="itemSon.value"
                            :label="itemSon.label"
                            :value="itemSon.value"
                          >
                          </el-option>
                        </el-select>
                      </el-col>
                      <el-col :span="5">
                        <el-select v-model="item.ysf" @change="$forceUpdate()">
                          <el-option
                            v-for="itemSon in ysfOptions"
                            :key="itemSon.value"
                            :label="itemSon.label"
                            :value="itemSon.value"
                          >
                          </el-option>
                        </el-select>
                      </el-col>
                      <el-col :span="5">
                        <el-input
                          v-model="item.value"
                          placeholder="请输入"
                          @input="$forceUpdate()"
                        />
                      </el-col>
                      <el-col :span="5">
                        <el-select v-model="item.step" @change="$forceUpdate()">
                          <el-option label="组长" value="组长"> </el-option>
                          <el-option label="总监" value="总监"> </el-option>
                        </el-select>
                      </el-col>
                      <el-col :span="4">
                        <i
                          class="el-icon-error"
                          style="cursor: pointer; color: red; font-size: 22px"
                          @click="chooseNode.tiaojianList.splice(index,1);$forceUpdate()"
                        ></i>
                      </el-col>
                    </el-row>
                    <el-button
                      type="primary"
                      @click="chooseNode.tiaojianList.push({djzd:'',ysf:'',value:'',step:''});$forceUpdate()"
                    >
                      追加
                    </el-button>
                  </el-card>
                </div>
                <div v-else>
                  <el-alert
                    title="提示：该条件必须包含至少2个输出步骤，请先建立输出步骤的链接再进行设置"
                    :closable="false"
                    type="error"
                  >
                  </el-alert>
                </div>
              </el-tab-pane>
              <el-tab-pane
                name="3"
                label="流程设置"
                v-if="chooseNode.shape === 'rect'"
              >
                <el-card class="box-card" style="margin-bottom: 20px">
                  <div slot="header" class="clearfix">
                    <span>权限设置</span>
                  </div>
                  <el-row type="flex" :gutter="10" style="margin-bottom: 10px">
                    <el-col :span="5">
                      <div style="text-align: right">会签权限</div>
                    </el-col>
                    <el-col :span="5">
                      <el-radio v-model="chooseNode.isHq" label="1"
                        >允许会签</el-radio
                      >
                    </el-col>
                    <el-col :span="5">
                      <el-radio v-model="chooseNode.isHq" label="2"
                        >禁止会签</el-radio
                      >
                    </el-col>
                  </el-row>
                  <el-row type="flex" :gutter="10" style="margin-bottom: 10px">
                    <el-col :span="5">
                      <div style="text-align: right">驳回权限</div>
                    </el-col>
                    <el-col :span="5">
                      <el-radio v-model="chooseNode.isBh" label="1"
                        >允许驳回</el-radio
                      >
                    </el-col>
                    <el-col :span="5">
                      <el-radio v-model="chooseNode.isBh" label="2"
                        >禁止驳回</el-radio
                      >
                    </el-col>
                  </el-row>
                </el-card>
                <el-card class="box-card" style="margin-bottom: 20px">
                  <div slot="header" class="clearfix">
                    <span>审批人员</span>
                  </div>
                  <el-row
                    type="flex"
                    align="middle"
                    :gutter="10"
                    style="margin-bottom: 10px"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">选择范围</div>
                    </el-col>
                    <el-col :span="15">
                      <el-select
                        style="width: 100%"
                        v-model="chooseNode.chooseType"
                        @change="$forceUpdate()"
                      >
                        <el-option value="1" label="指定人员"></el-option>
                        <el-option value="2" label="指定分组"></el-option>
                        <el-option
                          value="3"
                          label="单据人员(读取单据指定字段值作为办理人ID)"
                        >
                        </el-option>
                        <el-option
                          value="4"
                          label="单据分组(读取单据指定字段值作为办理分组ID)"
                        >
                        </el-option>
                        <el-option
                          value="5"
                          label="上级审批(由单据创建人的上级分组成员审批)"
                        >
                        </el-option>
                        <el-option
                          value="6"
                          label="由上一审批人动态指定"
                        ></el-option>
                      </el-select>
                    </el-col>
                  </el-row>
                  <el-row
                    type="flex"
                    align="middle"
                    :gutter="10"
                    style="margin-bottom: 10px"
                  >
                    <el-col :span="5">
                      <div style="text-align: right">审批人</div>
                    </el-col>
                    <el-col :span="15">
                      <el-input placeholder="请输入" />
                    </el-col>
                  </el-row>
                </el-card>
                <el-card class="box-card" style="margin-bottom: 20px">
                  <div slot="header" class="clearfix">
                    <span>审批模式</span>
                  </div>
                  <el-row type="flex" :gutter="10" style="margin-bottom: 10px">
                    <el-col :span="5">
                      <div style="text-align: right">审批模式</div>
                    </el-col>
                    <el-col :span="5">
                      <el-radio v-model="chooseNode.isSp" label="1">
                        联合审批
                      </el-radio>
                    </el-col>
                    <el-col :span="5">
                      <el-radio v-model="chooseNode.isSp" label="2">
                        任一审批
                      </el-radio>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-alert title="联合审批" :closable="false" type="warning">
                      所有成员均需审批（默认）
                    </el-alert>
                    <el-alert
                      title="任一审批"
                      style="margin-top: 10px"
                      :closable="false"
                      type="warning"
                    >
                      任一成员审批即可
                    </el-alert>
                  </el-row>
                </el-card>
              </el-tab-pane>
            </el-tabs>
          </div>
        </el-drawer>
      </div>
    </div>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
      var { Graph, DataUri, Addon, Shape } = X6;
      const { createApp } = Vue;
      Shape.Circle.define({
        shape: "endCircle",
      });

      // 创建vue节点
      new Vue({
        el: "#app",
        data: {
          dataOption: localStorage.graphJSON
            ? JSON.parse(localStorage.graphJSON)
            : {},
          djzdOptions: [
            {
              label: "id[ID]",
              value: "id[ID]",
            },
            {
              label: "initiator_id[发起人]",
              value: "initiator_id[发起人]",
            },
            {
              label: "status[状态:0=待发起,1=流程中,2=通过,3=终止]",
              value: "status[状态:0=待发起,1=流程中,2=通过,3=终止]",
            },
            {
              label: "realname[姓名]",
              value: "realname[姓名]",
            },
            {
              label: "money[金额]",
              value: "money[金额]",
            },
            {
              label: "createtime[创建时间]",
              value: "createtime[创建时间]",
            },
            {
              label: "updatetime[更新时间]",
              value: "updatetime[更新时间]",
            },
          ],
          ysfOptions: [
            {
              label: "等于（=）",
              value: "等于（=）",
            },
            {
              label: "大于（>）",
              value: "大于（>）",
            },
            {
              label: "小于（<）",
              value: "小于（<）",
            },
            {
              label: "大于等于（>=）",
              value: "大于等于（>=）",
            },
            {
              label: "小于等于（<=）",
              value: "小于等于（<=）",
            },
            {
              label: "不等于（!=）",
              value: "不等于（!=）",
            },
          ],
          graph: {},
          activeName: "1",
          ports: {
            groups: {
              // 输入链接桩群组定义
              in: {
                position: "ellipseSpread",
                attrs: {
                  circle: {
                    r: 4,
                    magnet: true,
                    stroke: "#8d8d8d",
                    strokeWidth: 2,
                    fill: "#fdff00",
                    style: {
                      visibility: "hidden",
                    },
                  },
                },
              },
            },
            items: [
              {
                id: "port1",
                group: "in",
              },
              {
                id: "port2",
                group: "in",
              },
              {
                id: "port3",
                group: "in",
              },
              {
                id: "port4",
                group: "in",
              },
            ],
          },
          dnd: {},
          history: {},
          chooseNode: {
            store: {
              data: {
                attrs: {
                  body: {
                    fill: "",
                    stroke: "",
                  },
                  label: {
                    text: "",
                  },
                },
              },
            },
          },
          canRedo: false,
          canUndo: false,
          drawer: false,
        },
        methods: {
          // 导出
          printNodeList(type) {
            if (type === "PNG") {
              this.graph.toPNG(
                (dataUri) => {
                  // 下载
                  DataUri.downloadDataUri(dataUri, "chart.png");
                },
                {
                  padding: {
                    top: 20,
                    right: 30,
                    bottom: 40,
                    left: 50,
                  },
                  copyStyles: false,
                }
              );
            } else {
              this.graph.toSVG(
                (dataUri) => {
                  // 下载
                  DataUri.downloadDataUri(
                    DataUri.svgToDataUrl(dataUri),
                    "chart.svg"
                  );
                },
                {
                  copyStyles: false,
                }
              );
            }
          },
          // 清空画布
          clearDraw() {
            this.$confirm("是否清空画布", "提示", {
              confirmButtonText: "确定",
              cancelButtonText: "取消",
              type: "warning",
            })
              .then(() => {
                this.graph.clearCells();
                this.$message({
                  type: "success",
                  message: "操作成功!",
                });
              })
              .catch(() => {
                this.$message({
                  type: "info",
                  message: "已取消删除",
                });
              });
          },
          // 撤销 和 重做
          doThing(type) {
            if (type === "canUndo") {
              this.graph.undo();
            } else if (type === "canRedo") {
              this.graph.redo();
            } else {
              console.log(type);
            }
          },
          // 连接桩显示时机
          showPorts(ports, show) {
            for (let i = 0, len = ports.length; i < len; i = i + 1) {
              ports[i].style.visibility = show ? "visible" : "hidden";
            }
          },
          // 删除
          deleteSelect() {
            this.graph.removeCells(this.graph.getSelectedCells());
          },
          // 更新节点
          updateNode(val, type) {
            console.log(this.chooseNode);
            if (type === "name") {
              this.chooseNode.attr("label/text", val);
            } else if (type === "textFill") {
              this.chooseNode.attr("label/fill", val);
            } else if (type === "fill") {
              this.chooseNode.attr("body/fill", val);
            } else if (type === "stroke") {
              this.chooseNode.attr("body/stroke", val);
            } else if (type === "strokeWidth") {
              this.chooseNode.attr("body/strokeWidth", val);
            } else if (type === "width") {
              this.chooseNode.width = val;
              this.chooseNode.size(val, this.chooseNode.height);
            } else if (type === "height") {
              this.chooseNode.height = val;
              this.chooseNode.size(this.chooseNode.width, val);
            }
            this.$forceUpdate();
          },
          // 保存
          saveLocal() {
            localStorage.graphJSON = JSON.stringify(this.graph.toJSON());
            this.$notify({
              title: "保存成功",
              type: "success",
              duration: 2000,
            });
          },
        },
        mounted() {
          let _this = this;
          this.graph = new Graph({
            container: document.getElementById("container"),
            history: true,
            selecting: { enabled: true },
            grid: {
              size: 10, // 网格大小 10px
              visible: true, // 渲染网格背景
            },
            // 放大缩小
            mousewheel: {
              enabled: true,
              zoomAtMousePosition: true,
              modifiers: ["ctrl", "meta"],
              maxScale: 3,
              minScale: 0.3,
            },
            // 框选
            selecting: {
              enabled: true,
              multiple: true,
              rubberband: true,
              movable: true,
              showNodeSelectionBox: true,
            },
            // 开启撤销/重做
            history: {
              enabled: true,
              ignoreChange: true,
            },
            // 连线规则限制
            connecting: {
              // https://x6.antv.vision/zh/docs/tutorial/basic/interacting/#connector
              allowBlank: false,
              allowMulti: false,
              allowLoop: false,
              allowPort: false,
              highlight: true,
              createEdge() {
                return this.createEdge({
                  shape: "edge",
                  attrs: {
                    line: {
                      stroke: "#ffa500",
                    },
                  },
                });
              },
            },
            // 节点缩放
            // resizing: {
            //     enabled: true,
            // },
            highlighting: {
              // 当链接桩可以被链接时，在链接桩外围渲染一个 2px 宽的红色矩形框
              magnetAvailable: {
                name: "stroke",
                args: {
                  padding: 4,
                  attrs: {
                    "stroke-width": 2,
                    stroke: "#12bf18    ",
                  },
                },
              },
            },
            width: 6000,
            height: 6000,
          });

          // 节点鼠标移入移出显示隐藏连接桩
          this.graph.on("cell:mouseenter", ({ cell }) => {
            if (cell.isNode()) {
              cell.addTools([
                {
                  name: "button-remove",
                  local: true,
                  args: {
                    x: cell.shape === "polygon" ? 20 : 10,
                    y: cell.shape === "polygon" ? 20 : 10,
                  },
                },
              ]);
              const ports = document.querySelectorAll(
                `[data-cell-id='${cell.id}'] .x6-port-body`
              );
              this.showPorts(ports, true);
            } else {
              cell.addTools([
                {
                  local: true,
                  name: "button-remove", // 工具名称
                },
              ]);
            }
          });
          this.graph.on("cell:mouseleave", ({ cell }) => {
            cell.removeTools();
            const ports = document.querySelectorAll(
              `[data-cell-id='${cell.id}'] .x6-port-body`
            );
            this.showPorts(ports, false);
          });
          // 边鼠标移入移出显示路径锚点
          this.graph.on("edge:mouseenter", ({ cell }) => {
            cell.addTools([
              {
                name: "vertices",
                snapRadius: 70,
              },
              {
                name: "segments",
                precision: 20,
              },
            ]);
          });
          this.graph.on("edge:mouseleave", ({ cell }) => {
            cell.removeTools();
          });
          // 节点点击
          this.graph.on("node:click", ({ cell }) => {
            this.activeName = "1";
            this.chooseNode = cell;
            console.log(this.chooseNode);
            this.chooseNode.width = cell.store.data.size.width;
            this.chooseNode.height = cell.store.data.size.height;
            if (cell.shape === "circle") {
              this.chooseNode.typeName = "开始";
            } else if (cell.shape === "rect") {
              this.chooseNode.typeName = "步骤";
              this.chooseNode.isHq = "1";
              this.chooseNode.isBh = "1";
              this.chooseNode.isSp = "1";
              this.chooseNode.chooseType = "1";
            } else if (cell.shape === "polygon") {
              this.chooseNode.typeName = "条件";
              this.chooseNode.tiaojianList = this.chooseNode.tiaojianList
                ? this.chooseNode.tiaojianList
                : [{ djzd: "", ysf: "", value: "", step: "" }];
              this.chooseNode._model.outgoings[this.chooseNode.id] = this
                .chooseNode._model.outgoings[this.chooseNode.id]
                ? this.chooseNode._model.outgoings[this.chooseNode.id]
                : [];
            } else if (cell.shape === "endCircle") {
              this.chooseNode.typeName = "结束";
            }
            this.drawer = true;
          });
          this.graph.fromJSON(this.dataOption);

          // 左侧边栏
          let options = {
            target: this.graph,
            groups: [
              {
                name: "name", // 分组名称
                title: "分组1", // 分组标题，缺省时使用 `name`
                collapsable: false, // 分组是否可折叠，默认为 true
                collapsed: false, // 初始状态是否为折叠状态
                layoutOptions: {
                  columns: 1,
                  columnWidth: 180,
                  rowHeight: "auto",
                },
              },
            ],
            scaled: false,
            animation: true,
            stencilGraphHeight: 600,
            stencilGraphWidth: 200,
            // 验证是否可以添加
            validateNode(a, b) {
              let canDo = true;
              let nodeList = b.targetGraph.renderer.views;
              for (const key in nodeList) {
                if (Object.hasOwnProperty.call(nodeList, key)) {
                  const item = nodeList[key];
                  if (
                    item.cell.shape === a.shape &&
                    (a.shape === "circle" || a.shape === "html")
                  ) {
                    _this.$notify({
                      title: "警告",
                      message:
                        a.shape === "circle"
                          ? "开始节点已存在"
                          : "结束节点已存在",
                      type: "warning",
                    });
                    canDo = false;
                    break;
                  }
                }
              }
              return canDo;
            },
          };
          this.dnd = new Addon.Stencil(options);
          document.querySelector(".selectNode").appendChild(this.dnd.container);
          // 创建一些模板节点
          const r1 = new Shape.Rect({
            width: 120,
            height: 40,
            ports: this.ports,
            attrs: {
              label: {
                text: "步骤",
                fill: "#262626",
              },
              body: {
                fill: "#c7d9fc",
                stroke: "#5f95ff",
                strokeWidth: "2",
              },
            },
          });
          const p1 = new Shape.Polygon({
            shape: "polygon",
            width: 100,
            height: 70,
            ports: this.ports,
            attrs: {
              label: {
                text: "条件",
                fill: "#6e3210",
              },
              body: {
                refPointsKeepOffset: "0,35 50,0 100,35 50,70",
                fill: "#efdbff",
                stroke: "#9254de",
                strokeWidth: "1",
              },
            },
          });
          const c1 = new Shape.Circle({
            width: 60,
            height: 60,
            shape: "circle",
            ports: this.ports,
            attrs: {
              label: {
                text: "开始",
                fill: "#2a7a22",
              },
              body: {
                fill: "#88f299",
                stroke: "#347527",
                strokeWidth: "1",
              },
            },
          });
          const c2 = new Shape.Circle({
            width: 60,
            height: 60,
            shape: "endCircle",
            attrs: {
              label: {
                text: "结束",
                fill: "#ffffff",
              },
              body: {
                fill: "#fa4e48",
                stroke: "#8f2424",
                strokeWidth: "1",
              },
            },
          });
          this.dnd.load([c1, r1, p1, c2], "name");

          this.history = this.graph.history;
          this.history.on("change", () => {
            this.canRedo = this.history.canRedo();
            this.canUndo = this.history.canUndo();
          });
        },
      });
    </script>
  </body>
</html>
