<footer class="footer">
 <div class="container">
 <div class="clearfix">
 <div class="footer-col footer-col-logo"> <!--<img src="{pboot:sitetplpath}/skin/images/logo-footer.png">--></div>
 <div class="footer-col footer-col-copy">
 <ul class="footer-nav hidden-xs">
  {pboot:nav num=10 parent=0}
  <li class="menu-item menu-item-706"><a href="[nav:link]">[nav:name]</a></li>
  {/pboot:nav}
 </ul>
 <div class="copyright">
  <p>{pboot:sitecopyright} 备案号：{pboot:siteicp}</p>
 </div>
 </div>
 <div class="footer-col footer-col-sns">
 <div class="footer-sns"> <a class="sns-wx" href="javascript:;"> <i class="web-icon fa fa-wechat sns-icon"></i> <span style="background-image:url({pboot:companyweixin});"></span> </a> <a href="{label:weibo}"> <i class="web-icon fa fa-weibo sns-icon"></i> </a></div>
 </div>
 </div>
 </div>
</footer>
<div class="action action-style-0 action-color-0 action-pos-1" style="bottom:15%;">
 <div class="action-item"> <i class="web-icon fa fa-comments action-item-icon"></i>
 <div class="action-item-inner action-item-type-2">
 <h3 style="text-align: center;">联系我们</h3>
 <h5 style="text-align: center;"><span style="color: #2d6ded; font-size: 20px;"><strong>{pboot:companyphone}</strong></span></h5>
 <p>在线咨询：<a href="http://wpa.qq.com/msgrd?v=3&uin={pboot:companyqq}&site=qq&menu=yes" target="_blank" rel="noopener noreferrer"><img class="alignnone j-lazy" title="点击这里给我发消息" src="{pboot:sitetplpath}/skin/images/button_111.gif" alt="点击这里给我发消息" border="0"></a></p>
 <p>邮件：{pboot:companyemail}</p>
 </div>
 </div>
 <div class=action-item> <i class="web-icon fa fa-wechat action-item-icon"></i>
 <div class="action-item-inner action-item-type-1"> <img class="action-item-img" src="{pboot:companyweixin}"></div>
 </div>
 <div class="action-item gotop j-top"> <i class="web-icon wi action-item-icon"><svg aria-hidden="true">
 <use xlink:href="#wi-arrow-up-2"></use>
 </svg></i></div>
</div>
<script>var _web_js={};</script> 